{% comment %}
  Leaflet map initialization script for location map.
  Include this in {% block inline_javascript %} section of templates using the location map.
{% endcomment %}
{% if location and location.latitude and location.longitude %}
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      // Initialize the map
      var map = L.map('map').setView([{
        {
          location.latitude
        }
      }, {
        {
          location.longitude
        }
      }], 10);

      // Add OpenStreetMap tile layer
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 19
      }).addTo(map);

      // Add marker for the location
      var marker = L.marker([{
        {
          location.latitude
        }
      }, {
        {
          location.longitude
        }
      }]).addTo(map);

      // Add popup with location name
      marker.bindPopup('<b>{{ location.name|escapejs }}</b>{% if location.address %}<br />{{ location.address|escapejs }}{% endif %}');
    });
  </script>
{% endif %}
